@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');

/*:host {
    max-width: 1280px;
    padding: 2rem;
    text-align: center;
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}

table {
    margin: 0 auto;
}
*/
